/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	border-collapse: separate;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: TableCloudian3;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	max-id: 9;
	border-top-style: solid;
	border-top-width: 1px;
}

mcTableColumnStyle
{
	span: 1;
	name: Regular;
	id: 0;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	background-color: #bed230;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: LightRows;
	background-color: #edf0f1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableBodyStyle
{
	span: 1;
	name: DarkerRows;
	id: 1;
	background-color: #e1e4e6;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}


/* Cell Styles: */
 
.TableStyle-TableCloudian3
{
	border-collapse: separate;
	border-top-style: solid;
	border-top-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-TableCloudian3-Column-Regular
{
	
}

.TableStyle-TableCloudian3-Head-Header1
{
	
}

.TableStyle-TableCloudian3-HeadI-Regular-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #bed230;
}

.TableStyle-TableCloudian3-HeadI-Regular-Header1 p
{
	
}

.TableStyle-TableCloudian3-HeadE-Regular-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-TableCloudian3-HeadE-Regular-Header1 p
{
	
}

.TableStyle-TableCloudian3-HeadF-Regular-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-TableCloudian3-HeadF-Regular-Header1 p
{
	
}

.TableStyle-TableCloudian3-HeadH-Regular-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
}

.TableStyle-TableCloudian3-HeadH-Regular-Header1 p
{
	
}

.TableStyle-TableCloudian3-HeadD-Regular-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-TableCloudian3-HeadD-Regular-Header1 p
{
	
}

.TableStyle-TableCloudian3-HeadC-Regular-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #bed230;
}

.TableStyle-TableCloudian3-HeadC-Regular-Header1 p
{
	
}

.TableStyle-TableCloudian3-HeadB-Regular-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
}

.TableStyle-TableCloudian3-HeadB-Regular-Header1 p
{
	
}

.TableStyle-TableCloudian3-HeadA-Regular-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #bed230;
}

.TableStyle-TableCloudian3-HeadA-Regular-Header1 p
{
	
}

.TableStyle-TableCloudian3-HeadG-Regular-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #bed230;
}

.TableStyle-TableCloudian3-HeadG-Regular-Header1 p
{
	
}

.TableStyle-TableCloudian3-FootI-Regular-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableCloudian3-FootI-Regular- p
{
	
}

.TableStyle-TableCloudian3-FootE-Regular-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableCloudian3-FootE-Regular- p
{
	
}

.TableStyle-TableCloudian3-FootF-Regular-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableCloudian3-FootF-Regular- p
{
	
}

.TableStyle-TableCloudian3-FootH-Regular-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableCloudian3-FootH-Regular- p
{
	
}

.TableStyle-TableCloudian3-FootD-Regular-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableCloudian3-FootD-Regular- p
{
	
}

.TableStyle-TableCloudian3-FootC-Regular-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableCloudian3-FootC-Regular- p
{
	
}

.TableStyle-TableCloudian3-FootB-Regular-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableCloudian3-FootB-Regular- p
{
	
}

.TableStyle-TableCloudian3-FootA-Regular-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableCloudian3-FootA-Regular- p
{
	
}

.TableStyle-TableCloudian3-FootG-Regular-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TableCloudian3-FootG-Regular- p
{
	
}

.TableStyle-TableCloudian3-Body-LightRows
{
	
}

.TableStyle-TableCloudian3-BodyI-Regular-LightRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #edf0f1;
}

.TableStyle-TableCloudian3-BodyI-Regular-LightRows p
{
	
}

.TableStyle-TableCloudian3-BodyE-Regular-LightRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableCloudian3-BodyE-Regular-LightRows p
{
	
}

.TableStyle-TableCloudian3-BodyF-Regular-LightRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-TableCloudian3-BodyF-Regular-LightRows p
{
	
}

.TableStyle-TableCloudian3-BodyH-Regular-LightRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #edf0f1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableCloudian3-BodyH-Regular-LightRows p
{
	
}

.TableStyle-TableCloudian3-BodyD-Regular-LightRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-TableCloudian3-BodyD-Regular-LightRows p
{
	
}

.TableStyle-TableCloudian3-BodyC-Regular-LightRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #edf0f1;
}

.TableStyle-TableCloudian3-BodyC-Regular-LightRows p
{
	
}

.TableStyle-TableCloudian3-BodyB-Regular-LightRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #edf0f1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableCloudian3-BodyB-Regular-LightRows p
{
	
}

.TableStyle-TableCloudian3-BodyA-Regular-LightRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #edf0f1;
}

.TableStyle-TableCloudian3-BodyA-Regular-LightRows p
{
	
}

.TableStyle-TableCloudian3-BodyG-Regular-LightRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #edf0f1;
}

.TableStyle-TableCloudian3-BodyG-Regular-LightRows p
{
	
}

.TableStyle-TableCloudian3-Body-DarkerRows
{
	
}

.TableStyle-TableCloudian3-BodyI-Regular-DarkerRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #e1e4e6;
}

.TableStyle-TableCloudian3-BodyI-Regular-DarkerRows p
{
	
}

.TableStyle-TableCloudian3-BodyE-Regular-DarkerRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #e1e4e6;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableCloudian3-BodyE-Regular-DarkerRows p
{
	
}

.TableStyle-TableCloudian3-BodyF-Regular-DarkerRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #e1e4e6;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-TableCloudian3-BodyF-Regular-DarkerRows p
{
	
}

.TableStyle-TableCloudian3-BodyH-Regular-DarkerRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #e1e4e6;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableCloudian3-BodyH-Regular-DarkerRows p
{
	
}

.TableStyle-TableCloudian3-BodyD-Regular-DarkerRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #e1e4e6;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-TableCloudian3-BodyD-Regular-DarkerRows p
{
	
}

.TableStyle-TableCloudian3-BodyC-Regular-DarkerRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #e1e4e6;
}

.TableStyle-TableCloudian3-BodyC-Regular-DarkerRows p
{
	
}

.TableStyle-TableCloudian3-BodyB-Regular-DarkerRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #e1e4e6;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableCloudian3-BodyB-Regular-DarkerRows p
{
	
}

.TableStyle-TableCloudian3-BodyA-Regular-DarkerRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #e1e4e6;
}

.TableStyle-TableCloudian3-BodyA-Regular-DarkerRows p
{
	
}

.TableStyle-TableCloudian3-BodyG-Regular-DarkerRows
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #e1e4e6;
}

.TableStyle-TableCloudian3-BodyG-Regular-DarkerRows p
{
	
}


